@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0A0B0D] text-zinc-200 antialiased font-mono;
  }
}

/* Custom Scrollbar for Terminal aesthetic */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #0a0b0d;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccff00;
}

/* Hide scrollbar for clean navigation */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
